DB_PROVISIONED=false # true if you have Postgres DB already provisioned
DB_SAME_HOST=true # true if Postgres DB provisioned on the same node
DOWNLOAD_DOCKER_IMAGES=true # true if we need to pull docker images
REGISTRY_URL="" # Docker registry url e.g openlegacy-registry.jfrog.io
REGISTRY_USERNAME="" # Docker registry username
REGISTRY_PASSWORD="" # Docker registry password
OL_DB_HOST="postgres" # Postgres host (has to be accessible by pods)
OL_DB_NAME="postgres" # Postgres name
OL_DB_PORT=5432 # Postgres port
POSTGRES_USER="postgres" # Postgres username
POSTGRES_PASSWORD="" # Postgres password
POSTGRESQL_ADMIN_PASSWORD="" # Postgres admin password
KEYCLOAK_REGISTRY_IMAGE_TAG="openlegacy/openlegacy-keycloak:26.0.6" # Name and tag of the Keycloak image, DOWNLOAD_DOCKER_IMAGES should be true
HUB_ENT_DB_MIGR_REGISTRY_IMAGE_TAG="openlegacy/hub-enterprise-db-migration:3.0.3" # Name and tag of the Hub Enterprise DB migration image, DOWNLOAD_DOCKER_IMAGES should be true
HUB_ENT_REGISTRY_IMAGE_TAG="openlegacy/hub-enterprise:3.0.3" # Name and tag of the Hub Enterprise image, DOWNLOAD_DOCKER_IMAGES should be true
POSTGRES_REGISTRY_IMAGE_TAG="postgres:13" # Name and tag of the Postgres DB image, DOWNLOAD_DOCKER_IMAGES should be true
OL_HUB_URL="" # IP/DNS name which will be used to access the OpenLegacy Hub Web UI
MONITORING=false # true if you necessary monitoring system
LOKI_REGISTRY_IMAGE_TAG="grafana/loki:2.7.1"
GRAFANA_REGISTRY_IMAGE_TAG="grafana/grafana:9.3.1"
PROMETHEUS_REGISTRY_IMAGE_TAG="prom/prometheus:v2.40.6"
PUSHGATEWAY_REGISTRY_IMAGE_TAG="prom/pushgateway:v1.5.1"
OL_SCREEN=false # true if you need screen emulation
OL_SCREEN_PORT="1512" # port number to run the emulation from hub (default port is 1512)
